@page "/"
@using dotNetStore.Models
@rendermode InteractiveServer
@inject IJSRuntime _JSRuntime
@inject NavigationManager _NavManager
@inject CartService _Cart
@implements IDisposable

<HeadContent>  
	<style>
		.product .product-img img{
		cursor:pointer;
		transition: transform 0.3s ease;
		}
		.product .product-img img:hover {
		transform: scale(1.1);
		}

		.product-widget .product-img img {
		cursor: pointer;
		}
	</style>
</HeadContent>

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop01.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Collection<br>d'Ordinateurs</h3>
						<a href="/Filtres/1" class="cta-btn"> <i class="fa fa-arrow-circle-right fa-3x"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop03.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Collection<br>d'Accessoires</h3>
						<a href="/Filtres/5" class="cta-btn"> <i class="fa fa-arrow-circle-right fa-3x"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
			<!-- shop -->
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="./img/shop02.png" alt="">
					</div>
					<div class="shop-body">
						<h3>Collection<br>de Cameras</h3>
						<a href="/Filtres/4" class="cta-btn"> <i class="fa fa-arrow-circle-right fa-3x"></i></a>
					</div>
				</div>
			</div>
			<!-- /shop -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Réductions Folles !!</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<!-- product -->
								@foreach (var p in ReductionsFolles)
								{
									<div class="product">
										<div onclick="GoToDetails(@p.Id)" class="product-img">
											<img src="./img/produits/@p.Photo1" alt="@p.Nom">
											<div class="product-label">
												@((MarkupString)(p.BadgeReduction > 0 ? $"<span class='sale'>-{Math.Abs(p.BadgeReduction)}%</span>" : ""))
												@((MarkupString)(p.BadgeNew ? "<span class='new'>NEW</span>" : ""))
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@p.Categorie?.Categorie</p>
											<h3 class="product-name"><a href="/Details/@p.Id">@p.Nom</a></h3>
											<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
										</div>
										<div class="add-to-cart">
											<button onclick="AddToCart(@p.Id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
										</div>
									</div>
								}
								<!-- /product -->
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top des ventes</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								@foreach (var p in TopVentes)
								{
									<div class="product">
										<div onclick="GoToDetails(@p.Id)" class="product-img">
											<img src="./img/produits/@p.Photo1" alt="@p.Nom">
											<div class="product-label">
												@((MarkupString)(p.BadgeReduction > 0 ? $"<span class='sale'>-{Math.Abs(p.BadgeReduction)}%</span>" : ""))
												@((MarkupString)(p.BadgeNew ? "<span class='new'>NEW</span>" : ""))
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@p.Categorie?.Categorie</p>
											<h3 class="product-name"><a href="/Details/@p.Id">@p.Nom</a></h3>
											<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
										</div>
										<div class="add-to-cart">
											<button onclick="AddToCart(@p.Id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ajouter au panier</button>
										</div>
									</div>
								}
								<!-- /product -->
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- /Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Autres marchandises</h4>
					<div class="section-nav">
						<div id="slick-nav-3" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-3">
					@for (int i = 0; i <= AutresColumns1 - 1; i++)
					{
						<div>
							<!-- product widget -->
							@foreach (var p in Autres1.Slice(i * 3, 3))
							{
								<div class="product-widget">
									<div class="product-img">
										<img @onclick="()=>GoToDetails(p.Id)" src="./img/produits/@p.Photo1" alt="@p.Nom">
									</div>
									<div class="product-body">
										<p class="product-category">@p.Categorie?.Categorie</p>
										<h3 class="product-name"><a href="/Details/@p.Id">@p.Nom</a></h3>
										<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
									</div>
								</div>
							}
							<!-- /product widget -->
						</div>
					}
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title"></h4>
					<div class="section-nav">
						<div id="slick-nav-4" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-4">
					@for (int i = 0; i <= AutresColumns2 - 1; i++)
					{
						<div>
							<!-- product widget -->
							@foreach (var p in Autres2.Slice(i * 3, 3))
							{
								<div class="product-widget">
									<div class="product-img">
										<img @onclick="()=>GoToDetails(p.Id)" src="./img/produits/@p.Photo1" alt="@p.Nom">
									</div>
									<div class="product-body">
										<p class="product-category">@p.Categorie?.Categorie</p>
										<h3 class="product-name"><a href="/Details/@p.Id">@p.Nom</a></h3>
										<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
									</div>
								</div>
							}
							<!-- /product widget -->
						</div>
					}
				</div>
			</div>

			<div class="clearfix visible-sm visible-xs"></div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title"></h4>
					<div class="section-nav">
						<div id="slick-nav-5" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-5">
					@for (int i = 0; i <= AutresColumns3 - 1; i++)
					{
						<div>
							<!-- product widget -->
							@foreach (var p in Autres3.Slice(i * 3, 3))
							{
								<div class="product-widget">
									<div class="product-img">
										<img @onclick="()=>GoToDetails(p.Id)" src="./img/produits/@p.Photo1" alt="@p.Nom">
									</div>
									<div class="product-body">
										<p class="product-category">@p.Categorie?.Categorie</p>
										<h3 class="product-name"><a href="/Details/@p.Id">@p.Nom</a></h3>
										<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
									</div>
								</div>
							}
							<!-- /product widget -->
						</div>
					}
				</div>
			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

@code {
	[JSInvokable]
	public async Task AddToCart(int id)
	{
		if (await _JSRuntime.InvokeAsync<bool>("AlertifyConfirm", "Ajouter cet article au panier ?"))
		{
			Produit P = Produits.FirstOrDefault(p => p.Id == id)!;
			_Cart.AddToCart(new CartItem
			{
				ProduitId = P.Id,
				Nom = P.Nom,
				Photo = P.Photo1,
				Prix = P.Prix ?? 0,
				Total = P.Prix ?? 0,
				PrixShipping = P.PrixShipping ?? 0,
				Qte = 1
			});
		}
	}
	[JSInvokable]
	public void GoToDetails(int id)
	{
		_NavManager.NavigateTo($"/Details/{id}");
	}

	private DotNetObjectReference<Index>? dotNetReference;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			dotNetReference = DotNetObjectReference.Create(this);
			await _JSRuntime.InvokeVoidAsync("initializeInterop", dotNetReference);
			await _JSRuntime.InvokeVoidAsync("initializeScripts", 9999, dotNetReference);
		}
	}
	public void Dispose()
	{
		if (dotNetReference != null)
		{
			dotNetReference?.Dispose();
			dotNetReference = null;
		}
	}
}
