@page "/Product/{Id:int}"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					@if (Produit.Photo1!=null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo1" alt="@Produit.Nom + photo1">
						</div>
					}
					@if (Produit.Photo2 != null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo2" alt="@Produit.Nom + photo2">
						</div>
					}
					@if (Produit.Photo3 != null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo3" alt="@Produit.Nom + photo3">
						</div>
					}
					@if (Produit.Photo4 != null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo4" alt="@Produit.Nom + photo4">
						</div>
					}
				</div>
			</div>
			<!-- /Product main img -->
			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					@if (Produit.Photo1!=null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo1" alt="@Produit.Nom + photo1">
						</div>
					}
					@if (Produit.Photo2!=null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo2" alt="@Produit.Nom + photo2">
						</div>
					}
					@if (Produit.Photo3!=null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo3" alt="@Produit.Nom + photo3">
						</div>
					}
					@if (Produit.Photo4 != null)
					{
						<div class="product-preview">
							<img src="./img/produits/@Produit.Photo4" alt="@Produit.Nom + photo4">
						</div>
					}
				</div>
			</div>
			<!-- /Product thumb imgs -->
			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">@Produit.Nom</h2>
					<div>
						<h3 class="product-price">@Produit.Prix DH <del class="product-old-price">@Produit.PrixAncien DH</del></h3>
					</div>
					<p>@Produit.Description</p>

					<div class="add-to-cart">
						<div class="qty-label">
							Qty
							<div class="input-number">
								<input type="number">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>

					<ul class="product-links">
						<li>Category:</li>
						<li><a href="#">@Produit.Categorie?.Categorie</a></li>
					</ul>
				</div>
			</div>
			<!-- /Product details -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Réductions Folles !!</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<!-- product -->
								@foreach (var p in ProduitsRelies)
								{
									<div class="product">
										<div class="product-img">
											<img src="./img/produits/@p.Photo1" alt="@p.Nom">
											<div class="product-label">
												@((MarkupString)(p.BadgeReduction > 0 ? $"<span class='sale''>-{Math.Abs(p.BadgeReduction)}%</span>" : ""))
												@((MarkupString)(p.BadgeNew ? "<span class='new'>NEW</span>" : ""))
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@p.Categorie?.Categorie</p>
											<h3 class="product-name"><a href="#">@p.Nom</a></h3>
											<h4 class="product-price">@p.Prix DH <del class="product-old-price">@p.PrixAncien DH</del></h4>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
								}
								<!-- /product -->
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await JSRuntime.InvokeVoidAsync("initializeScripts");
	}
}
